<?xml version="1.0" encoding="UTF-8"?>
<web-app
    xmlns="https://jakarta.ee/xml/ns/jakartaee"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd"
    version="5.0">

  <!-- Fuerza UTF-8 en todas las JSP -->
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <page-encoding>UTF-8</page-encoding>
    </jsp-property-group>
  </jsp-config>

  <!-- Página de bienvenida -->
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>

  <!-- <servlet>
    <servlet-name>PropertyServlet</servlet-name>
    <servlet-class>com.prometheus.web.servlets.PropertyServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PropertyServlet</servlet-name>
    <url-pattern>/propiedades/*</url-pattern>
  </servlet-mapping> -->

</web-app>
